In [33]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [34]:
import numpy as np
import pandas as pd
import datetime as dt

In [35]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [36]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [37]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

In [38]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [39]:
# Save references to each table
Measurement = Base.classes.measurement

Station = Base.classes.station

In [40]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [41]:
# Find the most recent date in the data set.
Recent_date = session.query(Measurement)
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23',)

In [42]:
DB = session.query(Measurement).first()
DB.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1edbf7a5450>,
 'date': '2010-01-01',
 'station': 'USC00519397',
 'tobs': 65.0,
 'prcp': 0.08,
 'id': 1}

In [43]:
Timerange = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date <= dt.datetime(2017, 8, 23)).filter(Measurement.date >= dt.datetime(2016, 8, 23))
Timerange

In [12]:
TimerangeDB = pd.DataFrame(Timerange)
TimerangeDB.columns = ['Date', 'Precipitation']
TimerangeDF = TimerangeDB.sort_values(by='Date').dropna()

In [13]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

##PrevMonths = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
##print(PrevMonths)

# Calculate the date one year from the last date in data set.

# Perform a query to retrieve the data and precipitation scores

#DandP = session.query(Measurement.date, Measurement.prcp)
#for row in DandP:
#    print(row)
    
# Save the query results as a Pandas DataFrame. Explicitly set the column names

#TimerangeDB = pd.DataFrame(Timerange)
#TimerangeDB
#TimerangeDB.columns = ['Date', 'Precipitation']

# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

TimerangeDF = pd.DataFrame(Timerange)
TimerangeDF.columns = ['Date', 'Precipitation']
TimerangeDF.plot(kind=bar, x = "Date", y = "Precipitation", rot=90 )
plt.xlabel("Dates")
plt.ylabel("Precipiatation levels")
plt.tight_layout()
plt.show()

NameError: name 'bar' is not defined

In [14]:
# Use Pandas to calculate the summary statistics for the precipitation data

TimerangeDF.describe()

       Precipitation
count    2015.000000
mean        0.176462
std         0.460288
min         0.000000
25%         0.000000
50%         0.020000
75%         0.130000
max         6.700000

In [ ]:
Exploratory Station Analysis

In [15]:
DB = session.query(Measurement).first()
DB.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1edbc400dc0>,
 'prcp': 0.08,
 'id': 1,
 'station': 'USC00519397',
 'date': '2010-01-01',
 'tobs': 65.0}

In [16]:
# Design a query to calculate the total number of stations in the dataset

Station_amount = session.query(Station.station, func.count(Station.station)).group_by(Station.station).all()
Station_amount

[('USC00511918', 1),
 ('USC00513117', 1),
 ('USC00514830', 1),
 ('USC00516128', 1),
 ('USC00517948', 1),
 ('USC00518838', 1),
 ('USC00519281', 1),
 ('USC00519397', 1),
 ('USC00519523', 1)]

In [17]:
# Design a query to find the most active stations (i.e. which stations have the most rows?)
# List the stations and their counts in descending order.

Most_pop = session.query(Station.station, func.count(Station.station)).group_by(Station.station).all()
Most_pop

[('USC00511918', 1),
 ('USC00513117', 1),
 ('USC00514830', 1),
 ('USC00516128', 1),
 ('USC00517948', 1),
 ('USC00518838', 1),
 ('USC00519281', 1),
 ('USC00519397', 1),
 ('USC00519523', 1)]

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# use bins=12
# count tobs column
# Text(0.5, 4.183333333333314, 'Temperature')

In [46]:
Active = session.query(Measurement.station, func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).all()
Active

[('USC00519397', 53.0, 87.0, 73.09795396419437)]